<%- include('partials/header')%>
<div class="wrapper text-center">
    <div class="player mx-auto d-flex align-items-center justify-content-center">
        <div>
          <h1>Movie not found!</h1>
          <h3><%= name %></h3>
          <h2>Make sure to spell the movie right!</h2>
          <div class="d-flex justify-content-center">
            <form class="form-inline" action="/search" method="GET">
                <button type="submit" class="btn btn-md botn ml-1 mb-2">Go Back!</button>
            </form>
        </div>
        </div>
      </div>
</div>
<div class="foot text-center">
  <a href="https://www.instagram.com/ashutoshshukla__"><h3>@ashutoshshukla__</h3></a>
</div>
<%- include('partials/footer')%>